* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body {
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}
.header {
    width: 100%;
    height: 85vh;
    background: rgba(0, 0, 0, 0.7) url("https://assets.nflxext.com/ffe/siteui/vlv3/a99688ca-33c3-4099-9baa-07a2e2acb398/ca15fd28-b624-4852-8bfe-9cdd5c88475d/IN-en-20240520-popsignuptwoweeks-perspective_alpha_website_small.jpg");
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.logo {
    width: 10%;
}
.side-bar {
    display: flex;
    align-items: center;
    gap: 20px;
}
.select {
    font-size: 16px;
    padding: 10px 16px;
    background: transparent;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.select1 {
    color: black;
}
.btn {
    color: white;
    background-color: red;
    text-decoration: none;
    padding: 10px 18px;
    font-size: 16px;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover {
    background-color: #c70404;
}
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 5%;
}
.content h1 {
    font-size: 42px;
    margin-top: -100px;
    font-weight: 700;
}
.content h2 {
    font-size: 24px;
    margin-top: 20px;
    font-weight: 400;
}
.content p {
    margin-top: 20px;
    font-size: 20px;
}
.email {
    background: transparent;
    border-radius: 4px;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}
.email input {
    background: transparent;

    flex: 1;
    border: 2px solid rgb(79, 79, 79);
    outline: 0;
    margin-left: 20px;
    padding: 13px 24px;
    font-size: 16px;
}
.email button {
    background-color: #db0001;
    color: white;
    border: 0;
    outline: 0;
    font-size: 16px;
    cursor: pointer;
    padding:15px 30px;
}
.email button:hover {
    background-color: #c70404;
}
.cards h1{
    font-size: 2.5vw;
    padding: 0.5vw 0;
    
}
.cards p{
    font-size: 1.5vw;
    line-height: 2rem;
}
.card1{
    position: relative;
    display: inline-grid;
    grid-template-columns: 50% 50%;
    text-align: left;
    align-items: center;
    padding: 4vw;
    gap: 4vw;
}
.box1{
    padding-left: 4.5vw;
}
.card1 video{
    position: relative;
    width: 70%;
    height: 54%;
    grid-column: 2/2;
    grid-row:1/2;
    z-index: -1;
}
.card1 img{
    grid-column: 2/2;
    grid-row: 1/2;
    width: 600px;
    height: auto;
}
.card2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 3%;
    gap: 5%;
}
.box2{
    width: 40%;
}
.card3{
    position: relative;
    display: inline-grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    padding: 4vw;
    gap: 4.5vw;
}
.box3{
    padding-left:4vw;
}
.card3 video{
    position: relative;
    width: 82%;
    height: 47%;
    top: -20%;
    grid-column: 2/2;
    grid-row:1/2;
    z-index: -1;
}
.card3 img{
    grid-column: 2/2;
    grid-row: 1/2;
    height: auto;
    width: auto;
}
.card4{
    display: flex;
    align-items: center;
    margin-bottom: 3%;
    gap: 4.5vw;
}
.card4 {
    padding-left: 5vw;
}
.line{
    width: 100%;
    height: 10px;
    background-color: rgb(56, 55, 55);
}
/* faq section */
.faq {
    padding: 10px 12%;
    text-align: center;
    font-size: 18px;
}
.faq h2 {
    font-weight: 800;
    margin-top: 5%;
    font-size: 48px;
}
.question {
    margin: 40px auto;
    width: 100%;
    max-width: 950px;
}
.question li {
    list-style: none;
    width: 100%;
    padding: 5px;
}
.question li label {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}
label::after {
    content: "+";
    ;
    font-size: 30px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}
input[type="radio"] {
    display: none;
}
.question .subheading {
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}
.question .subheading p {
    margin-bottom: 10px;
}
.question input[type="radio"]:checked+label+.subheading {
    max-height: 600px;
    padding: 30px 20px;
}
.question input[type="radio"]:checked+label::after {
    transform: rotate(135deg);
}
.faq p {
    font-size: 16px;
}
.faq .email {
    max-width: 600px;
    margin: 20px auto 60px;
    gap: 20px;
}
/* footer */
.footer {
    padding: 10px 10px;
}
.footer p {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-cols {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 40px;
}
.footer-cols ul {
    list-style: none;
}
.footer-cols ul li {
    margin-bottom: 30px;
}
.footer-cols ul li a {
    color: white;
    font-size: 16px;
}
.footer-cols1{
    display: none;
}

@media (max-width:729px) {
    .header{
        height: 70vh;
    }
    .logo {
        width: 80px;
    }
    .select {
        font-size: 2vw;
        padding: 8px 12px;
    }
    .btn {
        font-size: 8px;
    }
    .content {
        margin-top: 16%;
    }
    .content h1 {
        font-size: 24px;
    }
    .content h2 {
        font-size: 18px;
    }
    .content p {
        font-size: 14px;
    }
    .email{
        flex-direction: column;
    }
    .email input {
        font-size: 12px;
    }
    .email button {
        font-size: 12px;
        padding: 8px;
        width: 100px;
    }
    .cards .box {
        text-align: center;
        padding-left: 1.9vw;
    }
    .cards h1 {
        font-size: 5vw;
    }
    .cards p {
        font-size: 3vw;
        line-height: 1.5rem;
    }
    .cards .box2, .box4{
        margin-top: 30px;
    }
    .card1 {
        display: flex;
        flex-direction: column;
    }
    .card1 img {
        width: 330px;
        height: 248px;
    }
    .card1 video {
        position: absolute;
        width: 300px;
        top: 39%;
        overflow: hidden;
    }
    .card2 {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .card2 img {
        width: 330px;
        height: 248px;
    }
    .box2,.box1, .box3, .box4 {
        width: 60%;
    }
    .card3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .card3 img {
        width: 330px;
        height: 248px;
    }
    .card3 video {
        position: absolute;
        width: 216px;
        top: 28%;
    }
    .card4 {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .card4 img {
        width: 330px;
        height: 248px;
    }
    .faq h2 {
        font-size: 26px;
        font-weight: normal;
    }
    .question li label {
        font-size: 16px;
    }
    .faq p {
        font-size: 14px;
    }
    .footer-cols {
        display: none;
    }
    .footer p{
        font-size: 16px;
    }
    .footer-cols1 {
        display: flex;
        justify-content: space-evenly;
        margin-top: 50px;
        margin-bottom: 40px;
    }
    .footer-cols1 ul {
        list-style: none;
    }
    .footer-cols1 ul li {
        margin-bottom: 20px;
    }
    .footer-cols1 ul li a {
        color: white;
        font-size: 16px;
    }
}

@media (min-width : 730px) and (max-width: 1024px) {
    .header{
        height: 80vh;
    }
    .logo {
        width: 110px;
    }
    .select {
        font-size: 12px;
    }
    .btn {
        font-size: 12px;
    }
    .content h1 {
        font-size: 30px;
    }
    .content h2 {
        font-size: 18px;
    }
    .content p {
        font-size: 15px;
    }
    .email input {
        font-size: 12px;
    }
    .email button {
        font: 12px;
        padding: 10px;
    }
    .cards h1 {
        font-size: 4.5vw;
        text-align: center;
    }
    .cards p {
        font-size: 2.3vw;
        line-height: 2rem;
        text-align: center;
    }
    .cards .box2, .box4{
        margin-top: 30px;
    }
    .cards .box p{
        text-align: center;
        padding-left: 70px;
    }
    .card1 {
        display: flex;
        flex-direction: column;
    }
    .card1 video {
        position: absolute;
        width: 450px;
        top: 35%;
    }
    .card2 {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .box1 p, .box3 p, .box4 p {
        width: 80%;
    }
    .box2 img {
        width: 400px;
    }
    .card3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .card3 video {
        position: absolute;
        width: 400px;
        top: 30%;
    }
    .card4 {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .box4 p {
        margin-left: 2vw;
    }
    .footer-cols {
        flex-wrap: wrap;
    }
}